<div class="container-flouid">
  <nav class="navbar navbar-expand-lg bg-light">
    <div class="container">
      <a class="navbar-brand" href="/">
        <h3>Weather App</h3>
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/">Home</a>
          </li>
        </ul>

      </div>
    </div>
  </nav>
  <div class="row">
    <p>&nbsp;</p>
  </div>
  <div class="row">
    <div class="col-sm-2">
      <p>&nbsp;</p>
    </div>
    <div class="col-sm-8">
      <div class="row">
        <% if (@alert != nil) %>

          <div class="alert alert-warning" role="alert">
            <%= @alert  %>
          </div>
        <% else %>

          <div class="card">
            <div class="card-body">

              <h5 class="card-title">Weather Report for: '<%= @address %>' </h5>

              <hr/>

              <div class="row">
                <div class="col-sm-3">
                  <div class="card">
                    <div class="card-body">
                      <h5 class="card-title">Current Weather</h5>
                      <div class="text-center">
                        <% if (@openweather_result['current']['weather'][0]['icon']) %>
                          <img src="https://openweathermap.org/img/wn/<%= @openweather_result['current']['weather'][0]['icon'] %>@2x.png"/>
                        <% end %>
                      </div>
                      <ul>
                        <li>Current Temp: <%= @openweather_result['current']['temp'] %> &deg; F </li>
                        <li>Conditions: <%= @openweather_result['current']['weather'][0]['main'] %></li>
                        <li>Wind:
                          <ul>
                            <li>Speed: <%=  @openweather_result['current']['wind_speed'] %> mph</li>
                            <li>Gusts: <%=  @openweather_result['current']['wind_gust'] %> mph</li>
                            <li>Direction: <%=  @openweather_result['current']['wind_deg'] %> &deg;</li>
                          </ul>
                        </li>
                        <br/>
                      </ul>
                    </div>
                  </div>
                </div>

                <% for day in 0..6 do %>

                  <div class="col-sm-3">
                    <div class="card">
                      <div class="card-body">
                        <h5 class="card-title"><%= Time.at(@openweather_result['daily'][day]['dt']).to_date.strftime("%B %d, %Y") %></h5>
                        <div class="text-center">
                          <% if (@openweather_result['daily'][day]['weather'][0]['icon']) %>
                            <img src="https://openweathermap.org/img/wn/<%= @openweather_result['daily'][day]['weather'][0]['icon'] %>@2x.png"/>
                          <% end %>
                        </div>
                        <ul>
                          <li>High Temp: <%=@openweather_result['daily'][day]['temp']['max'] %> &deg; F </li>
                          <li>Low Temp: <%=@openweather_result['daily'][day]['temp']['min'] %> &deg; F </li>
                          <li>Conditions: <%= @openweather_result['daily'][day]['weather'][0]['main'] %></li>
                          <li>Wind:
                            <ul>
                              <li>Speed: <%=  @openweather_result['daily'][day]['wind_speed'] %> mph</li>
                              <li>Gusts: <%=  @openweather_result['daily'][day]['wind_gust'] %> mph</li>
                              <li>Direction: <%=  @openweather_result['daily'][day]['wind_deg'] %> &deg;</li>
                            </ul>
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>
                <% end %>

              </div>


              <!-- <p><%= @geolocation_result.to_s %></p> -->

              <!-- <p><%= @openweather_result.to_s %></p> -->

              <hr/>
            </div>
          </div>

        <% end %>
      </div>
      <div class="row">

        <hr/>
        <p>&nbsp;</p>

        <div class="card">
          <div class="card-body">

            <h5 class="card-title">Get the Current Weather</h5>
            <hr/>

            <form method="get" action="/get_weather">
              <div class="form-group">
                <label for="address">Enter an Address or Location:</label>
                <input class="form-control" type="text" name="address"/>
              </div>
              <div class="form-group text-center">
                <p>&nbsp;</p>
                <button type="submit" class="btn btn-primary">Get Weather Report</button>
              </div>
            </form>

          </div>
        </div>


      </div>
    </div>
    <div class="col-sm-2">
      <p>&nbsp;</p>
    </div>
  </div>
</div>